html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  background-color: #090909;
}

header{
  width: 100%;
  height: 13rem;
}

.header{
  width: 100%;
  height: 100%;
  background-image: url("https://images6.alphacoders.com/909/thumb-1920-909641.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;
}

input{
  outline: none;
  border: 0;
  width: 80%;
  height: 1.5rem;
  text-align: center;
}

.input-btn{
  background-color: #c70f65;
  border: 0;
  color: whitesmoke;
  height: 1.5rem;
  width: 2rem;
}

.logo{
  width: 100%;
  height: 10rem;
  background-image: url("./images/RyM.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.logo img{
  width: 100%;
}

.location-container{
  background-color: #c70f65;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.warning{
  background-color: #c70f65;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.war-bord{
  border: 2px solid rgb(255, 202, 103);
  color: rgb(255, 202, 103);
  text-align: center;
  padding: 1rem;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.morty{
  background-image: url("./images/morty.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 150px;
  height: 150px;
}

h2{
  margin: 0;
}

.title{
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.info{
  display: flex;
  justify-content: space-evenly;
  color: whitesmoke;
  text-align: center;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 5rem;
  padding: 3rem;
}

#checked{
  display: none;
}

#checked:checked ~ .modal{
  opacity: 1;
  visibility: visible;
}

.modal{
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

.modal-inf{
  width: 400px;
  height: 400px;
  margin: 2rem;
  background-color: whitesmoke;
  box-shadow: 0px 7px 30px #24caae;
  border: 1px solid #24caae;
  border-radius: 10px;
}

.cross-cont{
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: flex-end;
}

.to-close{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 0px 0px;
  background-color: #c70f65;
  color: whitesmoke;
  border: 0;
  cursor: pointer;
}

.card{
  color: #c70f65;
  text-align: center;
  background-color: whitesmoke;
  width: 230px;
  border-radius:10px;
  border: 2px solid #c70f65;
  padding-bottom: 0.1rem;
  box-shadow: 0px 7px 30px;
  overflow: hidden;
  cursor: pointer;
}

.card:hover{
  color: #24caae;
  border: 2px solid  #24caae;
}

.card-info{
  padding: 1rem;
}

.status{
  display: inline-block;
  margin: 0 5px;
}

.img-cont{
  width: 100%;
}

.img-cont img{
  width: 100%;
}

@media (min-width: 577px){
  input{
    outline: none;
    border: 0;
    width: 436px;
    height: 1.5rem;
  }

  .location-container{
    background-color:#c70f65;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 576px;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px 5px 0px 0px;
  }

  .warning{
    background-color: #c70f65;
    padding: 2rem;
    width: 576px;
    margin: auto;
    border-radius: 0px 0px 5px 5px;
  }
}